<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Generated Test</h1>
    <!-- <% test.forEach(function(question) { %>
      <p><%= question.question %></p>
      <ul>
        <% question.answers.forEach(function(answer) { %>
          <li><%= answer %></li>
        <% }); %>
      </ul>
    <% }); %> -->
    
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>