<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1 class="text-3xl font-bold text-center mb-4">Generated Test</h1>
<div  class="max-w-md mx-auto m-4 p-4 bg-white rounded-lg shadow-md">

<p>The generated test questions are : <%= questions %></p>


<% if (typeof questions !== 'undefined') { %>
  <ul>
    <% for (var i = 0; i < questions.length; i++) { %>
      <li><%= questions[i] %></li>
    <% } %>
  </ul>
<% } %>

</div>

  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>